# Database Configuration
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=testdb
POSTGRES_PORT=5432

# Application Configuration
NODE_ENV=development
PORT=8000

# Database URLs for Prisma
# For Docker: use 'postgres' as hostname
# For local development: use 'localhost' as hostname
DATABASE_URL=postgresql://admin:admin@postgres:5432/testdb
DIRECT_URL=postgresql://admin:admin@postgres:5432/testdb

# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://adxkkvhjhtmnyyxiambq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_7qfYNVN5WdfDAY7yfNksww_8MzF1zWt

# Team Configuration
MIN_TEAM_SIZE=3
MAX_TEAM_SIZE=5

# Google OAuth (if needed)
cid=372419820612-0mr1aol8r2kstuq4qcr96jtkelnn19eb.apps.googleusercontent.com
csec=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
